<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SupernodeScanner2._0.Properties.Settings.SupernodeScannerDBConnectionString1"
            connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=SupernodeScannerDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>        
        <add key="accessKey" value="340727895:AAGpzMmsBGGsB47d35G4GtYXR-Kjd1pElT0" />   
    </appSettings>
  
</configuration>